<!DOCTYPE html>
<html>

<head>
    <title>Noble Merry</title>
    <meta name="theme-color" content="#CE0016">
    <meta name="msapplication-navbutton-color" content="#CE0016">
    <meta name="apple-mobile-web-app-status-bar-style" content="#CE0016">
    <meta charset="utf-8">
    <!-- open graph meta description -->
    <meta name="theme-color" content="#CE0016">
    <meta name="msapplication-navbutton-color" content="#CE0016">
    <meta name="apple-mobile-web-app-status-bar-style" content="#CE0016">


    <meta name="description"
        content="Noblemerry Ventures is a food network marketing company that offers you a great opportunity to help you put food on your table and at the same time become financially stable.">
    <meta name="keywords"
        content="Noblemerry Ventures is a food network marketing company that offers you a great opportunity to help you put food on your table and at the same time become financially stable.">
    <meta name="author" content="NOBLE MERRY VENTURES">


    <meta property="og:title"
        content="Noblemerry Ventures is a food network marketing company that offers you a great opportunity to help you put food on your table and at the same time become financially stable." />
    <meta property="og:description"
        content="Noblemerry Ventures is a food network marketing company that offers you a great opportunity to help you put food on your table and at the same time become financially stable." />
    <meta property="og:image" content="https://noblemerrycompany.com/assets/images/merryfav.png" />



    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />


    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="food network marketing company" />
    <meta property="og:title" content="Noble Merry Ventures &raquo; Families Satisfaction, Our happiness." />
    <meta property="og:description"
        content="Noblemerry Ventures is a food network marketing company that offers you a great opportunity to help you put food on your table and at the same time become financially stable." />
    <meta property="og:url" content="https://noblemerrycompany.com/" />
    <meta property="og:site_name" content="Noble Merry Ventures" />
    <meta property="og:image" content="https://noblemerrycompany.com/assets/images/merryfav.png">


    <meta name="twitter:card" content="https://noblemerrycompany.com/assets/images/merryfav.png" />
    <meta name="twitter:url" content="https://noblemerrycompany.com/">
    <meta name="twitter:title" content="Noble Merry Ventures" />
    <meta name="twitter:description" content="Noble Merry Ventures &raquo; Families Satisfaction, Our happiness." />
    <meta name="twitter:image" content="https://noblemerrycompany.com/assets/images/merryfav.png" />
    <meta name="twitter:site" content="https://noblemerrycompany.com/" />
    <meta name="twitter:creator" content="@noblemerrycompany" />
    <!-- open graph meta description -->


    <link rel="icon" href="assets/images/merryfav.png" type="image/png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/merryfav.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/media.css">
    <link rel="stylesheet" type="text/css" href="assets/icons/remixicon/remixicon.css">
    <link rel="stylesheet" type="text/css" href="assets/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/aos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="assets/js/swiper.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/script.js" defer></script>



    <!-- google console verification -->
    <meta name="google-site-verification" content="3YhrfMKq1uM5bkt2pXEEuieyEQordoE_d5C8MOKDbYY" />
    <!-- google console verification -->


    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F919FESXMQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-F919FESXMQ');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MB6LBSR');</script>
    <!-- End Google Tag Manager -->


    <!-- MAILCHIMP CODE HERE -->

    <!-- MAILCHIMP CODE HERE -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MB6LBSR" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->



    <header class="d-flex header align-center space-between">
        <a href="index">
            <img class="header-logo" src="assets/images/logo.png">
        </a>

        <div class="navigation-wrapper">
            <img src="assets/images/bar.png" class="nav-toggle toggle-open">
            <div class="d-flex navigation-menu align-center">
                <div class="d-flex space-between mobile-logo align-center">
                    <img class="header-logo" src="assets/images/logo.png">
                    <img src="assets/images/times.png" class="toggle-close">
                </div>
                <nav class="d-flex navigation">
                    <a class="nav-link" href="index">Home</a>
                    <a class="nav-link" href="about">About Us</a>
                    <a class="nav-link" href="how-it-works">How it Works</a>
                    <!-- 		<a class="nav-link" href="gallery">Gallery</a> -->
                    <a class="nav-link" href="faqs">FAQ</a>
                    <a class="nav-link" href="contact-us">Contact</a>
                </nav>
                <div class="d-flex nav-buttons">
                    <a class="nav-btn" href="login">Login</a>
                    <a class="nav-btn" href="signup">Sign Up</a>
                </div>
            </div>

        </div>

    </header>

    <main>

        <div class="page-desc">
            <h1 class="page-title">Terms and Conditions</h1>
        </div>


        <div class="container-fluid">
            <ol class="lists">
                <li>You are expected to pay a non refundable registration sum of ₦3,500 only.</li>
                <li>You must pay into your virtual account before 11:59pm every Friday if you are paying every week.
                </li>
                <li>If you fail to pay into your virtual account before 11:59 on a Particular Friday, it will attract a
                    100% fine.</li>
                <li>Every member must introduce atleast one person under a particular account who must be up to 5months
                    on the system before the account can be empowered with ₦130,000 and foodstuff.</li>
                <li>Any account on fast track must introduce five downlines under the account within 40 days of it’s
                    registration or it will no longer be termed fast track.</li>
                <li>Fast track account downlines must be nothing less than 6 months on the system while the 5 downlines
                    must be nothing less than 5months before the fast track account will be empowered.</li>
                <li>Uploading of fake proof of payment will lead to cancellation of an account.</li>
                <li>Every account must contribute the sum of ₦65,000 before it can be empowered </li>
                <li>Every account holder in Noble merry must buy the company branded T.shirt before the person will get
                    his/her food empowerment </li>
                <li>Termination of account attracts a termination fine of ₦5,000</li>
                <li>No picture section, no food on the table.</li>
                <li>NOBLE MERRY EMPOWERMENT Payment is within 3 working days from the date of withdrawal application.
                </li>
                <li>For account change of ownership, the new owner must pay the sum of ₦5,000 before the details would
                    be changed to the new owners.</li>
                <li>Any account taken over by a new owner will no longer be the downline of the old owner.</li>
                <li>A member is advised to provide a trusted next of kin, that will get his or her contribution refund
                    in case the member dies.</li>
                <li>Noble Merry will not pay a dead member 50% benefit if the member dies before his or her 50 weeks
                    thrift maturity date.</li>
                <li>Noble Merry contribution empowerment is after 50wks.</li>
                <li>After making payment for your registration, you have 48hrs to pay into your virtual account for your
                    contribution payment or else your account will be deactivated and you will have to pay another
                    registration money to activate your account.</li>
                <li>Note that any mistake made during your registration is at your cost, Noble Merry will not be held
                    responsible for any of such mistakes.</li>
                <li>Any payment made in the name of Noble Merry ventures,that is not confirmed will require further
                    investigation from the depositor which will require the depositor providing his or her statement of
                    account and any other information that will be required by Noble Merry Ventures to further
                    investigate the transaction.</li>
                <li>All manually uploaded transaction will take within 24 to 48 hours before the transactions will be
                    confirmed.</li>
                <!--<li>Any wallet funding upload after 11:59pm on friday will attract a 100% fine payment, you are hereby advised to fund your wallet latest by 4pm every saturday</li>-->
                <li>Any account with 4 weeks+ defaults will be suspended, and such upline to the suspended accounts will
                    lose the account as a downline, and this might result in the upline not being eligible for ₦130,000
                    and foodstuffs if such upline account registration date is over 6 months.</li>
                <li>You are expected to pay a clearance fee of ₦2,000 only before you can be eligible for withdrawal.
                </li>
                <li>No Active Downline within six (6) months of registration, No Incentive</li>

            </ol>
        </div>



    </main>



    <!-- SUBSCRIBE STARTS -->
    <div class="subscribe" data-aos="zoom-in">
        <h3>Subscribe to our newsletter to get the latest news about us</h3>
        <p class="text">
            For immediate access to essential information, enter a valid email address below.
        </p>

        <form action="includes/phpfiles" class="create_mailchimp_subscription" method="POST">
            <div class="subscribe-form">
                <input type="email" name="mailchimp_subscribe_member_email_address"
                    class="mailchimp_subscribe_member_email_address" placeholder="Enter your Email address" required>
                <button class="btn_submit_subscribe_to_mailchimp">Subscribe</button>
            </div>
        </form>

    </div>
    <!-- SUBSCRIBE ENDS -->
    </main>

    <!-- FOOTER STARTS -->
    <footer class="d-flex footer">
        <div class="footer-list">
            <img class="footer-img" src="assets/images/footerlogo.png">


        </div>

        <div class="footer-list">
            <h3 class="footer-heading">Legal</h3>
            <div class="d-flex flex-col footer-link">
                <a href="terms-and-conditions">Terms</a>
            </div>
        </div>

        <div class="footer-list">
            <h3 class="footer-heading">Company</h3>
            <div class="d-flex flex-col footer-link">
                <a href="about">About</a>
                <a href="faqs">FAQs</a>
            </div>
        </div>

        <div class="footer-list">

            <div class="d-flex footer-icon-list">
                <a href="javascript:void()" class="footer-icon"><i class="ri-instagram-line"></i></a>
                <a href="javascript:void()" class="footer-icon"><i class="ri-linkedin-fill"></i></a>
                <a href="javascript:void()" class="footer-icon"><i class="ri-facebook-line"></i></a>
                <a href="javascript:void()" class="footer-icon"><i class="ri-twitter-fill"></i></a>
                <a href="javascript:void()" class="footer-icon"><i class="ri-youtube-fill"></i></a>
            </div>
            <div class="d-flex flex-col footer-text">
                <p>74 Ailegun road, <br>Bucknor Ejigbo, <br>Lagos Nigeria</p>
                <p>support@noblemerrycompany.com</p>
                <p><a href="tel:+2347025060073">+2347025060073</a></p>
                <p><a href="tel:+2347025060074">+2347025060074</a></p>
                <p>Designed by <a target="_blank" href="https://theinedgecompany.com"
                        style="color:#CE0016; font-weight: 500;">INEDGE</a></p>
            </div>


        </div>

    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/sweetalert.min.js"></script>
    <script src="js/scripts.js"></script>

    <!-- FOOTER ENDS -->
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/6318aa7654f06e12d8934e5b/1gcc5jop7';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>

</html>
